
  <div class="row">
    <div class="card">
      <div class="text-end">
        <button type="button" class="btn btn-secoundary" (click)="modalService.dismissAll()"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="col-sm-12 md-4 mt-4">
        <div class="text-center">
          <h1>Forget Password</h1>
        </div>
        <form action="" #f="ngForm" novalidate [formGroup]="forgetPasswordForm" (submit)="forgetpwsSubmit($event)">
          <div class="cols-sm-6 mb-3 mt-3">
            <label class="form-label">Old Password</label>
            <input type="text" class="form-control" name="" id="" formControlName="oldPassword" required="1">
          </div>
          <div class="cols-sm-6 mb-3 mt-3">
            <label class="form-label">New Password</label>
            <input type="text" class="form-control" name="" id="" formControlName="newPassword" required="1">
          </div>
          <div class="cols-sm-6 mb-3 mt-3">
            <label class="form-label">Conform Password</label>
            <input type="text" class="form-control" name="" id="" formControlName="confirmPassowrd">
          </div>
          <div class="mb-3 mt-4 text-center">
            <button class="btn btn-success btn-sm" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

