<div class="aside">
  <div class="row mt-4 mx-4">
    <div class="card bg-dark">
      <div class="col-sm-12">
        <img src="../../assets/image/demo.png" class="card-img-top" alt="">
      </div>
      <div class="questions mb-3">
        <p>How to Save, Fetch, Update and Delete data from Core Data using Swift</p>
        <span>March 20,2022 by <a href="#">DevloperTags</a></span>
      </div>
      <div class="col-sm-11">
      <div class="card bg-dark border">
        <strong>
          <h1>Last Update on : May 20, 2022</h1>
        </strong>
      </div>
    </div>

    <div class="content">
      <h4><b>Core Data </b>allows us to store data in the device and make them accessible again even after the app terminates.</h4>
      <h4><b>Core Data </b>allows us to store data in the device and make them accessible again even after the app terminates.</h4>
      <h4><b>Core Data </b>allows us to store data in the device and make them accessible again even after the app terminates.</h4>
      <h4>The equivalent of Core Data in <b>Android</b> is <b> Room</b></h4>
    </div>

    <div class="col-8 ml-4">
    <div class="conten__table">
      <div class="card-header">
        <h1>Content</h1>
      </div>
      <ul>
        <li>
          <a href="#1">1.What we're going to do in this Tutorials?</a>
        </li>
          <ul>
            <li><a href="">1.1 About the notes app</a></li>
            <li><a href="">1.1 About the notes app</a></li>
          </ul>
      </ul>
    </div>
    </div>




    </div>

  </div>




  <div class="side-bar">
    <div class="card">
        <div class="card-head">
          <h4>
            <b>follow Me on Socials</b>
          </h4>
          <div class="row mt-4">
            <ul>
            <div class="col-sm-6 d-flex gap-3">
              <li><div class="icon-bg">
                <a href="" ngbTooltip="twitter"><i class="bi bi-twitter"></i></a>

              </div></li>
            <li> <div class="icon-bg">
                <a href="" ngbTooltip="linkedin"><i class="bi bi-linkedin"></i></a>
              </div></li>
            <li> <div class="icon-bg">
                <a href="" ngbTooltip="github"><i class="bi bi-github"></i></a>
              </div></li>
            <li><div class="icon-bg">
                <a href="" ngbTooltip="rss"><i class="bi bi-rss-fill"></i></a>
              </div></li>
            <li><div class="icon-bg">
                <a href="" ngbTooltip="stack-overflow"><i class="bi bi-stack-overflow"></i></a>
              </div></li>
            </div>
          </ul>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="text-center p-1 ">
        <h1>Popular Tutorials</h1>
      </div>
      <div class="card border border-dark">
        <a href="">
          <figure>
            <img src="../../assets/image/demo.png" class="card-img" alt="">
          </figure>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </a>
      </div>
      <div class="card border border-dark">
        <a href="">
          <figure>
            <img src="../../assets/image/demo.png" class="card-img" alt="">
          </figure>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </a>
      </div>
      <div class="card border border-dark">
        <a href="">
          <figure>
            <img src="../../assets/image/demo.png" class="card-img" alt="">
          </figure>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </a>
      </div>
      <div class="card border border-dark">
        <a href="">
          <figure>
            <img src="../../assets/image/demo.png" class="card-img" alt="">
          </figure>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        </a>
      </div>
    </div>


    </div>
</div>
