<div class="aside continer-fluid">

<div class="row">
    <div class="col-md-12 p-4 mb-3 text-center">
      <div class="card bg-dark">
          <div class="card-body">
            <h1><b>Oops! That Page can't be found.</b></h1>
            <p>its looks like nothing was found at this location. Maybe try searching?</p>
          </div>
          <div class="col-sm-12 p-1">
            <div class="search-input">
              <input type="text" class="form-control"/>
              <i class="search-icon bi bi-search"></i>
            </div>
          </div>

          <div class="text-center mt-2 mb-3">
            <button class="btn btn-sm btn-outline-light">Search</button>
          </div>
        </div>
      </div>
    </div>

<div class="side-bar">
  <div class="card">
      <div class="card-head">
        <h4>
          <b>follow Me on Socials</b>
        </h4>
        <div class="row mt-4">
          <div class="col-sm-6 d-flex gap-3">
            <div class="icon-bg">
              <a href=""><i class="bi bi-twitter"></i></a>
            </div>
            <div class="icon-bg">
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="icon-bg">
              <a href=""><i class="bi bi-github"></i></a>
            </div>
            <div class="icon-bg">
              <a href=""><i class="bi bi-rss-fill"></i></a>
            </div>
            <div class="icon-bg">
              <a href=""><i class="bi bi-stack-overflow"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="text-center p-1 ">
      <h1>Popular Tutorials</h1>
    </div>
    <div class="card border">
      <a href="">
        <figure>
          <img src="../../assets/image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
    <div class="card border">
      <a href="">
        <figure>
          <img src="../../assets/image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
    <div class="card border">
      <a href="">
        <figure>
          <img src="../../assets/image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
    <div class="card border">
      <a href="">
        <figure>
          <img src="../../assets/image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
  </div>

  <!-- <div class="col-sm-6 text-center">
    <button class="btn btn-outline-info" routerLink="/home">Go back</button>
  </div> -->
</div>


</div>




<app-footer></app-footer>
