<div class="aside continer-fluid" #scrollContainer>
<div class="row mt-4 mx-2" >
  <div class="col-sm-6 mb-3" >
    <div class="card">
      <div class="card-body">
        <img src="./assets/image/demo.png"  class="card-img img-fluid" alt="thumbnail" routerLink="/readingArea">
        <p class="text-center" >With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center" >With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <img src="/assets/image/demo.png" class="card-img" alt="">
        <p class="text-center">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

</div>


<div class="side-bar">
  <div class="card">
      <div class="card-head">
        <h4>
          <b>follow Me on Socials</b>
        </h4>
        <div class="row mt-4">
          <ul>
          <div class="col-sm-6 d-flex gap-3">
            <li><div class="icon-bg">
              <a href="" ngbTooltip="twitter"><i class="bi bi-twitter"></i></a>
            </div></li>
          <li> <div class="icon-bg">
              <a href="" ngbTooltip="linkedin"><i class="bi bi-linkedin"></i></a>
            </div></li>
          <li> <div class="icon-bg">
              <a href="" ngbTooltip="github"><i class="bi bi-github"></i></a>
            </div></li>
          <li><div class="icon-bg">
              <a href="" ngbTooltip="rss"><i class="bi bi-rss-fill"></i></a>
            </div></li>
          <li><div class="icon-bg">
              <a href="" ngbTooltip="stack-overflow"><i class="bi bi-stack-overflow"></i></a>
            </div></li>
          </div>
        </ul>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="text-center p-1 ">
      <h1>Popular Tutorials</h1>
    </div>
    <div class="card border border-dark">
      <a href="">
        <figure>
          <img src="/assets/image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
    <div class="card border border-dark">
      <a href="">
        <figure>
          <img src="/assets/image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
    <div class="card border border-dark">
      <a href="">
        <figure>
          <img src="./image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
    <div class="card border border-dark">
      <a href="">
        <figure>
          <img src="/assets/image/demo.png" class="card-img" alt="">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>
  </div>


  </div>
</div>

<app-footer></app-footer>
